/*-----------------------------------------------------------------------------------
Template Name: Skyler shopify theme
Template URI:
Description: This is Shopify bootstrap 4 template
Version: 1.0
 -----------------------------------------------------------------------------------
/** TABLE OF CONTENTS
 01.General CSS
 02.Loader CSS
 03.Header CSS
 /**--------------------------------------------------------------------------------

        01.General CSS start

---------------------------------**/
body {
    font-family:'Open Sans', sans-serif;
    position: relative;
    background: #fff;
    font-size: 15px;
    overflow-x: hidden;
}
::selection {
    color: #ff4c3b;
    background-color: #000000;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 21px;
}
h1, h2, h4, h5, p {
    letter-spacing: 1px;
}
h1 {
    font-size: 66px;
    margin-bottom: 25px;
    line-height: 1;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #373737;
    font-family: 'Roboto Condensed', sans-serif;
}
h2 {
    font-size: 36px;
    color: #999999;
    letter-spacing: 0;
}
h3 {
    margin-bottom: 20px;
    font-size: 38px;
    color: #373737;
}
h4 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}
h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #373737;
}

h6 {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 4px;
    color: #666666;
    letter-spacing: 1px;
}
ul {
    list-style: none;
}
section {
    padding-top: 90px;
}
.sub-section{
    padding-top: 60px;
    padding-bottom: 60px;
}
p {
    letter-spacing: 0;
    line-height: 25px;
    color: #373737;
    font-size: 14px;
    margin-bottom: 10px;
}
a {
    color: #333;
}
a:hover, a:focus {
    color: #000;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
button:focus {
    outline: none !important;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}
.btn-theme{
    background-color: #ff4c3b;
    border-radius: 25px;
    padding: 11px 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.btn-dark {
    background-color: #000 !important;
}
.btn-theme:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(13%,-190%) rotate(30deg);
    transform: translate(13%,-190%) rotate(30deg);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.btn-theme:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-13%,-190%) rotate(-30deg);
    transform: translate(-13%,-190%) rotate(-30deg);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-theme:hover::before, .btn-theme:hover::after {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    border-radius: 25px;
}
select{
    min-width: 200px;
    border: 0;
    font-size: 13px;
    color: #aaaaaa;
    height: 32px;
    padding: 0 19px;
}
.title{
    color: #373737;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    padding: 0 15px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}
.title:before {
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid #dddddd;
    height: 5px;
    left: 0;
    top: 7px;
    z-index: -1;
}
.border-1 {
    border-bottom: 1px solid #ddd;
    position: relative;
}
.border-1:before,.border-1:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #f3f3f3;
    right: -20px;
    bottom: -4px;
    transform: rotate(40deg);
    border: 1px solid #e6e6e6;
}
.border-1:after{
    height: 10px;
    width: 10px;
    right: 0;
}
.form-control:focus,.btn:focus, .btn.focus {
    box-shadow: none;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #ddd;
}
.custom-checkbox .custom-control-input ~ .custom-control-label::after{
    transition: all 0.3s ease;
    background-image: url(../images/check.png);
    height: 23px;
    width: 23px;
    margin-left: -3px;
    margin-top: -3px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{

    transition: all 0.3s ease;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-control-label {
    font-size: 13px;
    color: #717171;
    margin-bottom: 13px;
}
/**----------------------------------

    01. General CSS end

----------------------------------**/

/**----------------------------------

    02. Front end css strat

----------------------------------**/

/*2.1 Loader CSS start*/
.loader{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
}
.loader span{
    width:16px;
    height:16px;
    border-radius:50%;
    display:inline-block;
    position:absolute;
    left:50%;
    margin-left:-10px;
    -webkit-animation:3s infinite linear;
    -moz-animation:3s infinite linear;
    -o-animation:3s infinite linear;

}
.loader span:nth-child(1){
    background:#ff4c3b;
    -webkit-animation:loader-1 1.2s infinite linear;
    -moz-animation:loader-1 1.2s infinite linear;
    -o-animation:loader-1 1.2s infinite linear;

}
.loader span:nth-child(2){
    background:#000;
    z-index:100;
}
.loader span:nth-child(3){
    background:#ff4c3b;
    -webkit-animation:loader-2 1.2s infinite linear;
    -moz-animation:loader-2 1.2s infinite linear;
    -o-animation:loader-2 1.2s infinite linear;
}


@-webkit-keyframes loader-2 {
    0% {-webkit-transform:translateX(20px);
    }

    50%{-webkit-transform:translateX(-20px);
    }

    100%{-webkit-transform:translateX(20px);
        z-index:200;
    }
}
@-moz-keyframes loader-2 {
    0% {-moz-transform:translateX(20px);
    }

    50%{-moz-transform:translateX(-20px);
    }

    100%{-moz-transform:translateX(20px);
        z-index:200;
    }
}
@-o-keyframes loader-2 {
    0% {-o-transform:translateX(20px);
    }

    50%{-o-transform:translateX(-20px);
    }

    100%{-o-transform:translateX(20px);
        z-index:200;
    }
}
@-webkit-keyframes loader-1 {
    0% {-webkit-transform:translateX(-20px);
        z-index:200;
    }
    50%{-webkit-transform:translateX(20px);
    }
    100%{-webkit-transform:translateX(-20px);
    }
}

@-moz-keyframes loader-1 {
    0% {-moz-transform:translateX(-20px);
        z-index:200;
    }
    50%{-moz-transform:translateX(20px);
    }
    100%{-moz-transform:translateX(-20px);
    }
}
@-o-keyframes loader-1 {
    0% {-o-transform:translateX(-20px);
        z-index:200;
    }
    50%{-o-transform:translateX(20px);
    }
    100%{-o-transform:translateX(-20px);
    }
}


.tap-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    display: none;
    color: #fff;
    text-align: center;
    background: #ffc412;
    border: 1px solid;
    font-size: 22px;
    padding: 7px;
    cursor: pointer;
}
/*2.1 Loader CSS ends*/

/*3 Header css*/
.header-top{
    background-color: #eeeeee;
    padding: 5px 0;
}
.header-top .custom-dropdown{
    margin-right: 10px;
}
.header-top ul li{
    position: relative;
    display: inline-block;
    padding-right: 20px;
    color: #999999;
    font-size: 12px;
    text-transform: uppercase;
}
.header-top ul li:last-child:before{
    display: none;
}
.header-top ul li:before{
    content: '';
    position: absolute;
    right: 8px;
    height: 10px;
    width: 1px;
    background-color: #999999;
    top: 3px;
}
.header-mid .row{
    align-items: center;
    justify-content: center;
}
.header-mid{
    padding: 20px 0;
}
.header-mid .cart{
    display: inline-block;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 100%;
    position: relative;
}
.header-mid .cart:hover {
    background-color: #ff4c3b;
    transition: all 0.3s ease;
    border-color: transparent;
}
.header-mid .cart:hover > i{
    color: #ffffff;
    transition: all 0.3s ease;
}
.header-mid .cart i{
    font-size: 32px;
    color: #ff4c3b;
}
.cart-item{
    position: absolute;
    top: -4px;
    left: -5px;
    background-color: #373737;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    font-size: 13px;
    color: #fff;
}
.header-call i{
    color: #373737;
    font-size: 28px;
    position: absolute;
    left: 0;
    top: -4px;
}
.header-call{
    text-align: right;
    display: inline-block;
    float: right;
    position: relative;
    padding-left: 33px;
}
@keyframes iconanimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.header-call i:hover{
    animation: iconanimation 0.3s;
}
.header-call h5{
    color: #999999;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-bottom{
    height: 77px;
    clear: both;
}
.header-border-top{
    border-bottom: 3px solid #ddd;
}
.form-flat .input-group .form-control {
    border-radius: 0;
    border: 2px solid #ddd;
    border-right: 0;
    font-size: 12px;
}
.form-flat .input-group {
    height: 45px;
    margin-bottom: 0 !important;
    display: flex;
}
.form-flat .input-group-prepend .input-group-text{
    padding: 0;
    border: 2px solid #ddd;
    border-left: 0;
    background-color: transparent;
}
.form-flat .input-group-prepend button{
    padding: 10px 12px;
    background-color: transparent;
    border: 0 !important;
    margin-bottom: 0 !important;
    color: #000;
}
.nav-cat li a {
    padding: 10px 15px;
    color: #fff;
    display: block;
    border-top: 1px solid #464444;
    background-color: #373737;
}
.nav-left{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff4c3b;
    position: absolute;
    z-index: 9;
    width: calc(100% - 30px);
}
.nav-left .navbar-toggler{
    background-color: #c62b1c;
    border-radius: 0;
    padding: 8px;
}
.navbar{
    padding: 0.5rem;
}
.nav-left .navbar-icon{
    color: #fff;
}
.header-bottom .nav-right .navbar{
    padding: 18px 0;
}
.header-bottom  .navbar-nav .nav-item .nav-link {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 20px !important;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-bottom  .navbar-nav .nav-item.active .nav-link,.header-bottom  .navbar-nav .nav-item:hover .nav-link{
    color: #ff4c3b;
}
.custom-dropdown{
    position: relative;
    display: inline-block;
}
.onhover-dropdown li:before{
    display: none;
}
.onhover-dropdown {
    top: 20px;
    position: absolute;
    z-index: 9;
    background-color: #fff;
    transition: all linear 0.3s;
    box-shadow: 0px 0px 2px 2px #e6e6e6;
    margin-top: 5px;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    right: -20px;
    min-width: 130px;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;

}
.onhover-dropdown li{
    display: inline-block;
}
.cart .onhover-dropdown {
    width: 250px;
    top: 60px;
    right: 0px;
}
.custom-dropdown:hover .onhover-dropdown {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}
.onhover-dropdown:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -7px;
    right: 17px;
    z-index: 2;
}
.header-top .onhover-dropdown li {
    display: block !important;
    padding: 13px 20px 0;
    text-transform: capitalize;
    font-size: 14px;
}
.header-top li *:hover{
    color: #ff4c3b;
    transition: all 0.3s ease;
}
.onhover-dropdown:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #d4d3d3;
    content: "";
    top: -8px;
    position: absolute;
    right: 17px;
    z-index: 1;
}
.cart-dropdown .cart-img{
    width: 50px;
}
.cart-dropdown li {
    padding: 0 15px 15px;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;}
.subtotal{
    margin-bottom: 0;
}
.cart-dropdown {
    padding-top: 15px;
}
.cart-dropdown li .media{
    margin-bottom: 10px;
}
.cart-dropdown li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}
.cart-contain{
    margin-left: 15px;
}
.cart-contain h6.cart-color{
    color: #000;
}
.cart-contain h6{
    color: #ff4c3b;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}

/*Mega menu*/
.column-3{
    width: 700px;
    display: flex;
    padding: 25px;
}
.column-3 > div{
    width: 33.33%;
}
.navbar .onhover-dropdown{
    top: 52px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0) !important;
}
.navbar .menu-link li{
    display: block;
    position: relative;
    padding-bottom: 15px;
}
.navbar .onhover-dropdown:before,.navbar .onhover-dropdown:after {
    top: -3px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) !important;
}
.navbar .onhover-dropdown:after{
    top: -4px;
}
.navbar .menu-link li a:before {
    position: absolute;
    content: "\f105";
    font-family: FontAwesome;
    color: #999999;
    left: 0;
    top: -2px;
    font-size: 18px;
    transition: all 0.3s ease;
}
.navbar .menu-link li a{
    padding-left: 15px;
    transition: all 0.3s ease;
}
.navbar .menu-link li:hover a:before{
    left: 4px;
    color: #ff4c3b;
    transition: all 0.3s ease;
}
.navbar .menu-link li:hover a{
    padding-left: 18px;
    transition: all 0.3s ease;
    color: #ff4c3b;
}
/*04 Home slider*/
.home-details{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.theme-owl .owl-prev,.theme-owl .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 50px;
    font-size: 25px;
    padding: 0 15px;
    color: #bdbdbd;
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px #d8d8d8;
}
.theme-owl .owl-next{
    right: 50px;
    left: inherit;
}
.home-slider h3{
    font-family: 'Italianno', cursive;
    color: #ff4c3b;
}
.home-slider h2{
    margin-bottom: 30px;
}

/*05 cat css*/
.cat-box{
    text-align: center;
}
.cat-box img{
    height: 65px;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}
.cat-box hr{
    margin-bottom: 10px;
}
.cat-box h5{
    display: inline-block;
    padding: 5px 20px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.cat-box:hover h5{
    background-color: #373737;
    color: #fff;
    transition: all 0.3s ease;
}
.cat-box:hover img{
    filter: grayscale(0%);
    transition: all 0.3s ease;
    animation: iconanimation 0.3s;
}

/*05 cat images css*/

.cat-box-img{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: #000;
}
.cat-box-img img{
    transition: all 0.3s ease;
}
.cat-box-img:hover img {
    transform: rotate(-5deg) scale(1.2);
    transition: all 0.3s ease;
    opacity: 0.6;
}
.cat-box-img .cat-box-details{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 15px;
}

.cat-box-img .cat-box-details h4{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}
.cat-box-img:hover .cat-box-details h4{
    transform: translateY(20px);
    transition: all 0.3s ease;
}
.cat-box-img .cat-box-details p{
    color: #fff;
    line-height: 1;
    margin-bottom: 0;
    transition: all 0.3s ease;
}
.cat-box-img:hover .cat-box-details p{
    opacity: 0;
    transition: all 0.3s ease;
}
.cat-box-img:before{
    content: "";
    position: absolute;
    height:100%;
    width: 100%;
    -webkit-box-shadow: inset 0px -100px 105px -13px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0px -100px 105px -13px rgba(0,0,0,0.50);
    box-shadow: inset 0px -100px 105px -13px rgba(0,0,0,0.50);
    transition: all 0.3s ease;
}
.cat-box-img:hover:before{
    -webkit-box-shadow: inset 0px -100px 105px -13px rgba(0,0,0,0.65);
    -moz-box-shadow: inset 0px -100px 105px -13px rgba(0,0,0,0.65);
    box-shadow: inset 0px -100px 105px -13px rgba(0,0,0,0.65);
    transition: all 0.3s ease;
}


/*Collection css start*/

.title ~ p{
    color: #999999;
    margin-bottom: 40px;
}
.sale-info {
    position: absolute;
    top: 10px;
    width: 100%;
}
.sale-info span{
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
}
.cart-info{
    position: absolute;
    bottom: 130px;
    width: 100%;
    font-size: 16px;
    color: #373737;
}
.cart-info i {
    padding: 0 10px;
    display: inline-block;
    border-left: 1px solid #c3c3c3;
}
.cart-info i:nth-child(odd){
    transform: translateX(140px);
    transition: all 0.3s ease;
    display: inline-block;
    opacity: 0;
}
.cart-info i:nth-child(even) {
    transform: translateX(-140px);
    transition: all 0.3s ease;
    display: inline-block;
    opacity: 0;
}
.product-details-box{
    padding-top: 30px;
}
.product-box:hover .cart-info i:hover{
    color: #ff4c3b;
    transition: all 0.5s ease;
}
.product-box:hover .cart-info i:nth-child(odd){
    transform: translateX(0px);
    transition: all 0.5s ease;
    opacity: 1;
}
.product-box:hover .cart-info i:nth-child(even){
    transform: translateX(0px);
    transition: all 0.6s ease;
    opacity: 1;
}
.cart-info i:first-child{
    border-left: 0;
}
.sale-info .sale-label{
    color: #fff;
    background-color: #ff4c3b;
    left: -50px;
    transition: all 0.5s ease;
}
.product-box:hover .sale-info .sale-label{
    left: 10px;
    transition: all 0.6s ease;
}

.product-front-img, .product-back-img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);

    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    top: 0;
    left: 0;
}
.product-front-img {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background: #ff4c3b;
    z-index: 2;
}

.product-back-img {
    background: lightblue;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    position: absolute;
}
.product-box:hover .product-back-img{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.sale-type{
    right: -60px;
    transition: all 0.3s ease;
}
.product-box:hover .sale-info .sale-type{
    right: 0;
    transition: all 0.3s ease;
}
.theme-tab .nav-tabs{
    justify-content: center;
    border-bottom: none;
    margin-bottom: 50px;
}
.theme-tab .nav-tabs .nav-link {
    font-size: 20px;
    color: #373737;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 5px 15px;
    margin: 0 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.theme-tab  .nav-tabs .nav-link.active,.theme-tab  .nav-tabs .nav-item.show .nav-link {
    border: none;
    background-color: #ff4c3b;
    color: #fff;
}
.theme-tab .nav-tabs .nav-link:hover,.theme-tab .nav-tabs .nav-link:focus{
    border-color: transparent;
}
.theme-tab .nav-tabs .nav-link:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: #dddddd;
    right: -14px;
    top: 17px;
    transform: rotate(40deg);
}
.theme-tab .nav-tabs .nav-link:last-child:before{
    display: none;
}
.onhover-arrow.theme-owl .owl-nav{
    opacity: 0;
}
.onhover-arrow.theme-owl:hover .owl-nav{
    opacity: 1;
    transition: all 0.3s ease;
}
.onhover-arrow.theme-owl .owl-prev {
    left: -20px;
    top: 40%;
}
.onhover-arrow.theme-owl .owl-next{
    right: -20px;
    top: 40%;
}
.product-box {
    text-align: center;
    overflow: hidden;}

/*Add Css Start*/
.add-contain{
    padding: 180px 0;
}
.add-contain h3{
    color: #fff;
    font-size: 72px;
    line-height: 1;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000;
}
.add-contain h4{
    font-size: 36px;
    text-shadow: 2px 2px 0 #000;
}
.advertise{
    background-image: url(../images/par.jpg);
    background-attachment: fixed;
}

/*Blog css start*/


.blog-box{
    position: relative;
    margin-bottom: 80px;
}
.blog-box:before {
    position: absolute;
    content: "View more";
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    text-shadow: 2px 2px #373737;
    transform: scale(0);
    transition: all 0.3s ease;
    opacity: 0;
    background-color: #00000078;
}
.blog-box:hover:before{
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease;
}
.blog-details{
    margin: 0 20px;
    background-color: #ffffff;
    position: absolute;
    bottom: -75px;
    width: calc(100% - 40px);
    text-align: center;
    padding: 0 15px 15px 15px;
    box-shadow: 0px 3px 3px 1px #f3f3f3;
    transition: all 0.3s ease;
}
.blog-box:hover .blog-details {
    bottom: -70px;
    transition: all 0.3s ease;
}
.blog-details p{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.blog-details span{
    border-left: 1px solid #666666;
    padding-left: 20px;
    margin-left: 20px;
}
.blog-details h6{
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}
.blog-details h5{
    font-size: 14px;
    color: #999999;
    text-transform: unset;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 15px;
    margin-bottom: 0;
}
.blog-single-box .blog-details{
    padding-left: 0;
    position: relative;
    bottom: 0;
    text-align: left;
    margin-left: 0;
    width: 100%;
    box-shadow: none;
}
.blog-single-box .blog-details p{
    font-size: 18px;
    margin: 15px 0;
}
.blog-date{
    font-size: 14px;
    font-weight: 600;
}
.comment-box{
    padding-top: 15px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.bloger{
    font-size: 16px;
    font-weight: 600;
    color: #444444;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
}



/*Testimonial css Start*/
.testimonial-contain .avtar{
    height: 120px;
    border-radius: 100%;
    border: 1px solid #ddd;
    padding: 6px;
}
.testimonial{
    background-image: url(../images/testimonial/testimonial.jpg);
    background-attachment: fixed;
}

.owl-carousel .owl-item .testimonial-contain  img{
    width: auto;
    margin: 0 auto;
}
.testimonial-contain h5{
    color: #ff4c3b;
    margin-top: 20px;
    margin-bottom: 0;
}
.testimonial-contain p{
    color: #ffffff;
}
.testimonial-contain hr{
    margin-top: 35px;
    margin-bottom: 25px;
    border-color: #5b5b5b;
}
.testimonial-contain h5 span{
    color: #aaaaaa;
    font-weight: 100;
    font-size: 14px;
}
.quote-icon {
    display: inline-block;
    background-color: #5b5b5b;
    padding: 13px 10px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    width: 40px;
    height: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.quote-icon img {
    height: 14px;
}

/*partner css start*/
.partner .slide--item{
    opacity: 0.4;
    transition: all 0.3s ease;
}
.partner .slide--item:hover{
    opacity: 1;
    transition: all 0.3s ease;
}

/*subscribe start*/
.subscribe-contain{
    border-top: 3px solid #ddd;
}
.subscribe-contain h4{
    font-family: 'Roboto Condensed', sans-serif;
    color: #373737;
    margin-bottom: 25px;
}
.form-radious input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
    font-size: 14px;
}
.form-radious input::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
    font-size: 14px;
}
.form-radious input:-ms-input-placeholder { /* IE 10+ */
    color: #999999;
    font-size: 14px;
}
.form-radious input:-moz-placeholder { /* Firefox 18- */
    color: #999999;
    font-size: 14px;
}
.form-radious input{
    height: 43px;
    background-color: #eaeae9;
    border: 0;
    border-radius: 25px;
}
.form-radious h4{
    color: #373737;
    font-weight: bold;
    margin-bottom: 25px;
}


/*Footer css start*/
.footer-top{
    padding: 25px 0;
    background-color: #ff4c3b;
}
.footer-top i{
    font-size: 30px;
    color: #fff;
    line-height: 0.6;
}
.footer-top .media:hover i{
    animation: iconanimation 0.3s;
}
.footer-top h5{
    color: #fff;
}
.footer-bottom{
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .footer-title{
    margin-bottom: 30px;
    font-size: 20px;
    color: #373737;
    text-transform: uppercase;
    margin-top: 30px;
}
.footer-bottom p,.footer-bottom a{
    color: #717171;
    line-height: 2;
    transition: all 0.3s ease;
    font-size: 14px;
}
.footer-social{
    margin-top: 30px;
}
.footer-social li {
    display: inline-block;
    padding-right: 25px;
    transition: all 0.3s ease;
}
.footer-social li a:hover{
    color: #fd4c3b;
    transition: all 0.3s ease;
}
.footer-bottom ul li {
    padding-bottom: 5px;
    position: relative;
}
.footer-bottom ul li:last-child{
    padding-bottom: 0;
}
footer .links {
    padding-left: 20px;
}
footer .links li:before {
    position: absolute;
    content: "\f105";
    font-family: FontAwesome;
    color: #999999;
    left: -20px;
    top: 4px;
    font-size: 18px;
    transition: all 0.3s ease;
}
footer .links li:hover:before{
    color: #fd4c3b;
    left: -15px;
    transition: all 0.3s ease;
}
.footer-bottom ul.links li:hover a{
    color: #fd4c3b;
    padding-left: 5px;
    transition: all 0.3s ease;
}
footer .contact{
    padding-left: 25px;
}
footer .contact i {
    position: absolute;
    top: 10px;
    left: -30px;
    font-size: 16px;
    transition: all 0.3s ease;
}
footer .contact li:hover i {
    left: -25px;
    -webkit-animation: footer-icon 0.5s infinite; /* Safari 4.0 - 8.0 */
    animation: footer-icon 0.5s infinite;
}
.footer-copy-right {
    background-color: #eaeae9;
    padding: 10px 0;
    text-align: center;
}
.footer-copy-right h5{
    margin-bottom: 0;
    color: #373737;
    font-weight: 500;
    font-size: 12px;
}
@-webkit-keyframes footer-icon {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}


/*Blog page css start*/
.breadcrumb{
    background-color: transparent;
    padding: 20px 0;
}
.breadcrumb-item.active {
    color: #999999;
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
.sidebar-box{
    border: 1px solid #ddd;
    padding: 20px 25px;
    margin-bottom: 30px;
}
.sub-sidebar + .sub-sidebar{
    padding: 10px;
    margin: -10px;
    border-top: 1px solid #ddd;
    margin-top: 15px;
    padding-top: 15px;
}
.sidebar-title{
    font-size: 20px;
    color: #373737;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.sidebar-cat img{
    width: 85px;
}
.sidebar-cat h6{
    letter-spacing: 0;
    font-size: 14px;
    transition: color 0.3s ease-in;
}
.sidebar-cat:hover h6{
    color: #ff4c3b;
    transition: color 0.3s ease-in;
}
.sidebar-title.dark-title {
    background-color: #444444;
    color: #fff;
    padding: 12px 15px;
    margin: -10px -15px 25px -15px;
}
.discount-price{
    font-size: 14px;
    color: #aaaaaa;
    text-decoration: line-through;
}
.mrp{
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}
.sidebar-cat{
    margin-bottom: 25px;
}
.sidebar-box ol,.sidebar-box ul{
    padding-left: 20px;
    margin-bottom: 0;
}
.sidebar-box ol li,.sidebar-box ul li{
    font-size: 14px;
    padding-bottom: 10px;
}
.sidebar-box ol li:last-child,.sidebar-box ul li:last-child{
    padding-bottom: 0;
}
.read-more{
    color: #717171;
    font-size: 12px;
}
.blog-body .blog-box{
    margin-bottom: 110px;
}
.theme-paggination-block,.shop-header{
    background-color: #eeeeee;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.theme-paggination-block .page-link {
    border: 0;
    margin: 0 3px;
    color: #373737;
}
.theme-paggination-block .page-item.active .page-link {
    background-color: #ff4c3b;
}
.theme-paggination-block .page-link:hover {
    background-color: #ffdad7;
}


/*product-grid-view css*/
.banner-effect{
    margin-bottom: 35px;
    position: relative;
}
.banner-effect:before,.banner-effect:after{
    background-color: #ffffff;
    content: "";
    height: 0;
    opacity: 0.1;
    position: absolute;
    transition: all 0.4s ease;
    width: 0;
}
.banner-effect:before{
    left: 0;
    top:0;
}
.banner-effect:after{
    bottom: 0;
    right: 0;
}
.banner-effect:hover:before,.banner-effect:hover:after{
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    outline: 5px double rgba(0, 0, 0, 0.40);
    outline-offset: -20px;
}
.sidebar-box .category{
    padding-left: 0;
}
.category li{
    display: inline-block;
}
.category li + li::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "/";
}
.sidebar-box .color-box{
    padding-left: 0;
}
.color-box li{
    height: 35px;
    width: 35px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 7px;
    border: 1px solid #ececec;
}
.shop-header-left i{
    font-size: 20px;
    color: #444444;
    margin-right: 5px;
    transition: all 0.3s ease;
}
.shop-header-left i:hover{
    color: #ff4c3b;
    transition: all 0.3s ease;
}
.shop-body .product-box{
    margin-bottom: 30px;
}
.product-box-img{
    position: relative;
}
.product-box-info p{
    visibility: hidden;
    height: 0;
}

/*list view css start*/
.list-view .product-box-img{
    width: 220px;
    position: relative;
    overflow: hidden;
}
.list-view .product-box{
    display: flex;
}
.list-view  .product-box-info{
    display: inline-block;
    width: calc(100% - 220px);
    text-align: left;
    padding: 0 30px;
}
.list-view .cart-info {
    margin-left: -10px;
    position: relative;
    margin-top: 20px;
    bottom: auto;
}
.list-view .product-details-box h6{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.list-view .product-box-info p{
    height: auto;
    visibility: visible;
}


<<<<<<< HEAD
/*Theme modal Css start*/
.theme-modal .modal-content{
    border-radius: 0;
}
.theme-modal .modal-body{
    padding: 0;
}
.theme-modal .modal-left{
    width: 65%;
    background-color: #ff4c3b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-modal .modal-right{
    width: 35%;
}
.modal-icon img{
    height: 70px;
    width: 70px;
}
.modal-left h6{
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 15px;
}
.modal-left span{
    font-size: 100px;
    line-height: 1;
}
.comment-section > ul ul{
    margin-left: 100px;
}
/*.banner-effect {*/
    /*position: relative;*/
/*}*/
/*.banner-effect:hover  img{*/
    /*transition: all 0.3s ease;*/
/*}*/
/*.banner-effect:hover  img{*/
    /*outline: 4px double #eee;*/
    /*outline-offset: -15px;*/
    /*transition: all 0.3s ease;*/
/*}*/

/* product page css bv*/
.sidebar .sidebar-box .product-sidebar-category li{
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.sidebar .sidebar-box .product-sidebar-category li:first-child{
    padding-bottom: 15px;
    padding-top: 0px;
}
.sidebar .sidebar-box .product-sidebar-category li:last-child{
    padding-bottom: 0px;
    padding-top: 15px;
    border-bottom: none;
}
.sidebar .sidebar-box .product-sidebar-category li a{
    color: #717171;
}
.sidebar .sidebar-box .product-sidebar-category li a:hover{
    color: #ff4c3b;
}
.sidebar .sidebar-box .product-sidebar-category li i{
    padding-right: 30px;
}
>>>>>>> 9e8f3a7bce7a4632c659fc5e85494658dbbfcc03
